---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CardStackable from "../components/CardStackable.astro";
import CardFeatured from "../components/CardFeatured.astro";
import CardSingle from "../components/CardSingle.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");

const fearturedBlogEntries = await getCollection("blog", ({ data }) => {
  return data.featured === true;
});

const placeholderBlogPosts = [
  {
    title: "Getting Started with Astro.js",
    description:
      "Learn how to kickstart your development journey with Astro.js.",
    tag: "Astro.js",
    url: "https://example.com/getting-started-with-astro-js",
  },
  {
    title: "Advanced Techniques in Astro.js",
    description:
      "Explore advanced tips and tricks to take your Astro.js skills to the next level.",
    tag: "Astro.js",
    url: "https://example.com/advanced-techniques-in-astro-js",
  },
  {
    title: "Introduction to Reactive Programming",
    description:
      "Discover the fundamentals of reactive programming and its applications in modern web development.",
    tag: "Reactive Programming",
    url: "https://example.com/introduction-to-reactive-programming",
  },
];
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <section class="my-8 max-w-[1200px] mx-auto px-4">
      <Header />
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-5 gap-4">
          <CardSingle class="md:col-span-3">
            <img
              src="/headshot.jpg"
              loading="lazy"
              width="100"
              alt="Kevin Herrera headshot"
              class="rounded-full"
            />
            <div>
              <h1>Kevin Herrera</h1>
              <p class="text-3xl">
                is a Frontend Engineer and designer by trade. Collaboration and
                creating is his passion. Currently creating & collaborating at
                <span class="cloudflare-orange">
                  <a href="https://www.cloudflare.com" target="_blank"
                    >Cloudflare</a
                  >
                </span>
              </p>
            </div>
          </CardSingle>
          <div
            class="flex flex-col justify-center items-center text-center md:col-span-2 py-5 px-6 rounded-3xl bg-neutral-100 border border-gray-300 gap-8"
          >
            <img
              src="/herrerake-square-logo.png"
              loading="lazy"
              width="100"
              alt="Kevin Herrera headshot"
              class="rounded-full"
            />
            <div>
              <h2 class="text-md">Have a project in mind?</h2>
              <button
                class="button text-center py-6 px-8 rounded-full bg-blue-950 font-medium leading-10"
              >
                <a href="mailto:kevin@herrerake.com">Let's Collaborate</a>
              </button>
            </div>
          </div>
        </div>
        <div
          class="news-ticker-container col-span-5 row-start-2 py-4 px-8 my-4 rounded-3xl bg-neutral-100 border border-gray-300"
        >
          <div>Sports and economic news ticker</div>
        </div>
        <div class="grid md:grid-cols-3 grid-rows-1 gap-4">
          <CardSingle>
            <span class="text-7xl">🤘🏾</span>
            <h3 class="text-5xl">
              Based in <br /> Austin, Texas <br /> GMT-6
            </h3>
          </CardSingle>
          <CardSingle class="md:col-span-2">
            <p class="h3 text-3xl">
              As a software engineer, I specialize in developing unique and
              user-friendly digital products. I believe that a successful
              software starts with a solid foundation, clear communication, and
              a deep understanding of the end user's needs.
            </p>
          </CardSingle>
        </div>
      </div>
      <div class="container mx-auto my-4">
        <div class="grid md:grid-cols-2 grid-rows-1 gap-4">
          <div class="single-card-container">
            <CardFeatured {...placeholderBlogPosts[0]} />
          </div>
          <div class="flex flex-col justify-between items-stretch gap-8">
            {placeholderBlogPosts.map((post) => <CardStackable {...post} />)}
          </div>
        </div>
      </div>
      <Footer />
    </section>
  </body>
</html>
