---
import BaseHead from "@/components/BaseHead.astro";
import CardWrapper from "@/components/CardWrapper.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Partner" description="Let's work together." />
  </head>

  <body>
    <section class="my-8 max-w-[1240px] w-full mx-auto px-4">
      <Header />
      <div class="w-full">
        <CardWrapper class="w-full my-4">
          <div class="py-12">
            <h1 class="text-bluePrimary text-3xl md:text-4xl font-bold mb-4 dark:text-darkText">
              Partner
            </h1>
            <p class="text-xl leading-7 text-textPrimary dark:text-darkTextSecondary">
              Coming soon.
            </p>
          </div>
        </CardWrapper>
      </div>
      <Footer />
    </section>
  </body>
</html>
