---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

interface LinkProps {
  href: string;
}

const { href } = Astro.props as LinkProps;

const { pathname } = Astro.url;
const isActive = pathname === href || pathname.startsWith(`${href}/`);
---

<a
  href={href}
  class:list={[{ active: isActive }, "flex flex-col items-center relative"]}
>
  <span class="leading-[18px] text-base"><slot /></span>
  {
    isActive && (
      <div class="absolute -bottom-1">
        <svg
          width="4"
          height="4"
          viewBox="0 0 4 4"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="2" cy="2" r="2" fill="#ED1C24" />
        </svg>
      </div>
    )
  }
</a>
