---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="container mx-auto my-2">
  <nav class="flex flex-col md:flex-row items-center">
    <h2>
      <a href="/">
        <img
          src="/herrerake-logo-oleo-script-swash-caps-black.png"
          loading="lazy"
          width="156"
          alt="Herrerake Logo"
        /></a
      >
    </h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    border-radius: 24px;
    padding: 10px 20px;
    border-radius: 24px;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
