---

---

<!-- This component applies specific styles to its children content (It is used in the blog page). Reference (https://docs.astro.build/en/recipes/tailwind-rendered-markdown/#recipe) -->

<div
  class="prose-content w-full prose prose-h2:text-bluePrimary prose-h2:text-3xl prose-h2:font-bold prose-h2:mb-6 prose-h2:mt-10 prose-p:text-xl prose-p:leading-6 max-w-full prose-img:rounded-3xl dark:prose-invert dark:prose-h2:text-darkText"
>
  <slot />
</div>

<style>
  .prose-content :global(h1 a),
  .prose-content :global(h2 a),
  .prose-content :global(h3 a),
  .prose-content :global(h4 a) {
    text-decoration: none;
    color: inherit;
  }
  .prose-content :global(h1 a:hover),
  .prose-content :global(h2 a:hover),
  .prose-content :global(h3 a:hover),
  .prose-content :global(h4 a:hover) {
    text-decoration: underline;
  }
</style>
